<form action="/cart" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button class="" type="submit">ADD TO BAG</button>
  <input type="hidden" name="productId" value="<%= product.id %>">
</form> 